#app{
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

#app ul {
  

  padding: 0;
}

li{
  text-transform: capitalize;
}

div > input[type="text"]{
  display: block;
  padding: 5px 10px;
  width: 100%;
}
